html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, 
blockquote:after,
q:before, 
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  line-height: inherit;
}
/*  that was resets */

/* basic styles  */


html{
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F7FF;
}
/* h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
}
h1 {
    font-size: 5.063rem;
}
h2 {
    font-size: 3.375rem;
}
h3 {
    font-size: 2.25rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}

p{
    margin: 1em 0;
} */

/* ///////////////////////////
        mobile style
    ///////////////////////// */
.wrapper{
    /* width: 375px; */
    margin: 0 auto;
    padding: 2rem;
}

.main-logo{
    max-width: 150px;
    display: flex;
    justify-content: flex-start;
}
.banner h1{
   font-size: 5rem;
   font-weight: bold;
   padding-left: 1rem;
}
.banner p{
    padding-left: 1rem;
    font-size: 1.5rem;
}
.scooter{
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 3rem;
    /* padding-left: 1rem; */
    
}
.form{
    margin: 1rem;
    
   
}
.contact-us{
    border: 1px solid #C6C6CC;
    border-radius: 15px;
    height: 520px;
    width: 100%;
    box-shadow: 20px 20px 50px #C6C6CC;
    background-color: white;
    

}
/* styling the form inside */
.contact-us h2{
    font-size: 3rem;
    font-weight: bolder;
    margin: 1rem;
    /* margin-left: 1.2rem; */
}
/* styling the p in form */
.contact-us p{
    font-size: 1rem;
    padding-left: 1.2rem;
    /* padding-bottom: 1rem; */
}
.label{
    display: none;
}
.contact-us 
input[type=text]{
    width: 90%;
    padding: 1rem;
    margin: 0.5rem;
    margin-left: 1rem;
    border: 0px solid grey;
    background-color: #F4F4F5;
    box-sizing: border-box;
    border-radius: 10px;
}
/* checkbox */
.contact-us
input[type=checkbox]{
    margin-left: 1rem;
    height: 15px;
    width: 15px;
    border-radius: 20px;
    padding: 4rem;
}
.checktext{
    font-size: 1rem;
    
}
.button{
    box-sizing: border-box;
    background-color: #57EEAB;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 24px;
    border-radius: 15px;
    /* margin-left: 20px;
    margin-right: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem; */
    width: 100%;
    /* display: block; */
    margin-top: 15px;
    margin-bottom: 10px;
}
.apply a{
    color: red;
    
}

footer{
    background-color: #fffd8c;
    width: 100%;
    margin-top: 3rem;
    
}
.earn h2{
    font-weight: bold;
    /* font-size: 1rem; */
    padding-left: 38px;
    padding-top: 29px;
    padding-right: 121px;
}
.earn p{
    padding-left: 38px;
    padding-right: 80px;
    margin-top: 1rem;
    margin-bottom: 15px;
}
.label2{
    display: none;
}
.earnwith{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hours{
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 11px;
    /* margin-right: 45px; */
    width: 67px;
    border: none;
    border-radius: 10px;
}
.city{
    padding: 13px 0px 13px 35px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
}
.button2{
    display: block;
    background-color: #FF8480;
    border: none;
    padding: 10px 32px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    font-size: 24px;
    border-radius: 15px;
    margin-left: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 250px;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    justify-content: center;
    justify-content: space-evenly;

}





/* tablet styles */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .button{
        width: 100%;
        /* display: block; */
        
    }
    .apply{
        display: flex;
        justify-content: center;
    }
    
    
    .footer-content{
        padding-left: 5rem;
    }
    .calc{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        /* justify-content: space-evenly; */
        align-items: baseline;
        margin-left: 2.5rem;
        
    }
    .hours{
        width: 122px;
    }
    .city{
        /* padding-right: 7rem;
        padding-left: none; */
        width: 260px;
    }
    /* try to move the city input more left?  */
    .site-footer{
        padding-bottom: 20px;
        width: 100%;
    }
    .icons{
        display: flex;
        /* justify-content: space-evenly; */
        justify-content: center;
        align-self: center;
    }
    svg{
        padding-right: 44px;
    }
        



    

        
}

/* desktop */
@media screen and (min-width: 1024px){
    .logo{
        margin-left: 8rem;
    }
    .scooter{
        display: none;
    }
    body{
        background: url(../images/bg-image/scooter.svg) no-repeat center;
        background-size: 820px;
        
         
    }
    
    main{
        display: grid;
       
        grid-template-areas: 
        
        "main side aside"
       ;
       grid-template-columns: 1fr 1fr 1fr; 
        
    }
    
    .sec1{
        grid-area: main;
        margin-top: 2rem;
        margin-left: 8rem;

    }
    .banner{
        width: 536px;
    }
    .sec2{
        grid-area: aside;
        align-self: center;
        margin-right: 1rem;
        margin-top: 2rem;
    }
    .form{
        width: 537px;
    }
    .button{
        margin-top: 25px;
        margin-bottom: 15px;
    }
    /* .calc{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 2rem;
        margin-bottom: none;
    }
    .icons{
        display: flex;
        justify-content: flex-end;
        
        
    }
    svg{
        margin: 20px;
        margin-top: none;
    } */
    .footer-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
       
        grid-template-areas: 
        "main aside"
        ;
    }
    .earnwith{
        grid-area: main;
        justify-content: start;
        margin-left: 2rem;
    }
   
    .icons{
        grid-area: aside;
        /* justify-content: center; */
        justify-content: flex-end;
        margin-right: 3rem;
        align-self: flex-end;
        margin-bottom: 3.5rem;
        
    }
    svg{
        padding-right: 2rem;
    }
    .calc{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }
    .hours{
        width: 122px;
    }
    .city{
        width: 260px;
    }
}